#w2j__know-us {
  background: var(--white);
}

.w2j__know-us-container {
  display: flex;
  align-items: center;

  .w2j__img-connections {
    z-index: 2;
    height: 48vw;
    left: -56px;
  }

  .w2j__know-us-text {
    font-family: "Raleway", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: var(--black);
    opacity: 1;
    z-index: 2;
  }

  .w2j__text-right {
    text-align: left;
  }
}

.w2j__under-box {
  display: flex;
  align-items: center;

  .w2j__img-logistic {
    margin-bottom: 1rem;
    z-index: 2;
    width: 32vw;
    margin-top: -16px;
    object-fit: cover;
    object-position: 80px 0px;
  }

  .w2j__text-left {
    text-align: right;
    padding-left: 4rem;
  }
}

@media (max-width: 768px) {
  .w2j__know-us-container {
    flex-direction: column;
    justify-content: center;
  }

  .w2j__under-box {
    flex-direction: column-reverse;
  }

  .w2j__img-connections {
    top: 16px;
    margin-top: 1rem;
    margin: auto;
    width: 40vw;
    left: 0 !important;
    height: auto !important;
  }

  .w2j__img-logistic {
    margin: auto;
    width: 48vw !important;
    margin-top: 0 !important;
    object-fit: cover;
    object-position: unset !important;
  }

  .w2j__know-us-text {
    text-align: center !important;
    font-size: 3vw !important;
    padding: 1rem 2rem 2.5rem !important;
    margin-top: 0 !important;
  }
}
