<section id="w2j__know-us">
  <div class="w2j__know-us-container col-lg-12 pl-0 pr-0">
    <img
      src="../../../assets/images/w2j__world-conections.png"
      tabindex="0"
      data-toggle="tooltip"
      data-placement="left"
      title="{{ 'KNOW.IMG.WORLD' | translate }}"
      alt="{{ 'KNOW.IMG.WORLD' | translate }}"
      class="w2j__img-connections col-md-6 col-sm-12 pl-0 pr-0"
    />
    <aside
      class="w2j__know-us-text w2j__text-right col-md-6 col-sm-12"
      tabindex="0"
    >
      {{ "KNOW.TEXT.WORLD" | translate }}
    </aside>
  </div>

  <div class="w2j__know-us-container w2j__under-box col-lg-12 pl-0 pr-0">
    <aside
      class="w2j__know-us-text w2j__text-left col-md-6 col-sm-12 pr-0"
      tabindex="0"
    >
      {{ "KNOW.TEXT.LOGISTIC" | translate }}
    </aside>
    <img
      src="../../../assets/images/w2j__logistics.png"
      tabindex="0"
      tabindex="0"
      data-toggle="tooltip"
      data-placement="left"
      title="{{ 'KNOW.IMG.LOGISTIC' | translate }}"
      alt="{{ 'KNOW.IMG.LOGISTIC' | translate }}"
      class="w2j__img-logistic col-md-6 col-sm-12 pr-0 pl-0"
    />
  </div>
</section>
