<section id="w2j__second">
  <div class="w2j__second-background"></div>
  <div class="w2j__second-box col-lg-12 pl-0 pr-0">
    <img
      src="../assets/images/world_conections.png"
      tabindex="0"
      class="w2j__world-connections col-lg-6 col-sm-12 pl-0"
    />
    <aside
      class="w2j__second-content-right col-lg-6 col-sm-12"
      tabindex="0"
    >
      A W2J Comércio Internacional nasceu com objetivo de reduzir custos de suas
      importações, estudando o assunto descobriu uma forma ética, segura e
      eficiente de realizar operações de importação. E porque não estender tais
      conhecimento ao mercado Nacional, proporcionando benefícios de redução de
      custos e ampliando a fatia no mercado. Resolveu então oferecer e
      compartilhar com o comércio internacional.
    </aside>
  </div>
  <div class="w2j__second-box-under col-lg-12 pl-0">
    <aside
      class="w2j__second-content-left col-lg-6 col-sm-12 mt-4 mb-4 pr-0"
      tabindex="0"
    >
      Na importação, os custos de impostos, taxas e despesas aduaneiras são
      muito altos, principalmente o ICMS que é o maior custo da cadeia. O que
      podemos e faremos é reduzir este e os demais custos. Quer saber como?
      Entre em contato conosco e você vai se surpreender quando receber a
      planilha comparativa com sua última importação.
    </aside>
    <img
      src="../assets/images/Logistics.png"
      tabindex="0"
      class="w2j__logistic col-lg-6 col-sm-12 pr-0"
    />
  </div>
</section>
