<div *ngIf="showModal" class="w2j__modal-container">
  <ng-container>
    <div class="w2j__modal">
      <button
        (click)="toggleModal()"
        class="w2j__close-icon"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'CONTACT.FORM.BTN-CLOSE' | translate }}"
      >
        <img src="../../../../assets/icons/light-grey/w2j__close-gray.svg" />
      </button>
      <ng-content></ng-content>
    </div>
    <div class="w2j__overlay"></div>
  </ng-container>
</div>
