.w2j__footer-container {
  bottom: 0;
  height: 104px;
  width: 100vw;
  background-color: var(--greyText);
  padding: 0.5rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .w2j__pb-logo {
    height: 88px;
  }

  .w2j__address {
    flex-direction: column;
    margin: 0px 12% 0 16%;
  }

  .w2j__text-address {
    font-family: "Montserrat", sans-serif;
  }

  h6 {
    color: var(--white);
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
  }

  .w2j__social-networks {
    display: flex;
    align-items: center;
  }

  .w2j__btn-networks {
    border: none;
    background: none;
    padding: .5rem;
    cursor: pointer;
  }

  .w2j__network-icon {
    width: 4vw;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
