<section>
  <footer class="w2j__footer-container">
    <img
      class="w2j__pb-logo"
      src="../../../assets/images/w2j__logo-white.png"
      tabindex="0"
      data-toggle="tooltip"
      data-placement="left"
      alt="{{ 'CONTACT.IMG.WHITE-LOGO' | translate }}"
      title="{{ 'CONTACT.IMG.WHITE-LOGO' | translate }}"
    />
    <div class="w2j__address">
      <h6 class="mb-1 w2j__text-address">
        <b>
          {{ "CONTACT.FOOTER.ADDRESS-1" | translate }}<br />
          {{ "CONTACT.FOOTER.ADDRESS-2" | translate }}</b
        >
      </h6>
      <h6 class="mt-2 w2j__text-address">
        <b> {{ "CONTACT.FOOTER.MESSAGE" | translate }}</b>
      </h6>
      <h6 class="mt-1">
        Designed by
        <a
          class="w2j__profile"
          href="https://www.linkedin.com/in/alessandro-gois/"
          ><b>Alessandro Góis</b></a
        >. Developed by
        <a
          class="w2j__profile"
          href="https://www.linkedin.com/in/ggustavo-henrique/"
          ><b>Gustavo Henrique</b></a
        >.<br />{{ "CONTACT.FOOTER.ALL-RIGHTS" | translate }}
      </h6>
    </div>
    <div class="w2j__social-networks">
      <a href="https://www.facebook.com/">
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__facebook"
            src="../../../assets/icons/light-grey/w2j__facebook.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-FB' | translate }}"
            title="{{ 'CONTACT.IMG.NET-FB' | translate }}"
          />
        </button>
      </a>
      <a
        href="https://www.instagram.com/
        "
      >
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__instagram"
            src="../../../assets/icons/light-grey/w2j__instagram.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-IN' | translate }}"
            title="{{ 'CONTACT.IMG.NET-IN' | translate }}"
          />
        </button>
      </a>
      <a
        href="https://twitter.com/
        "
      >
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__twitter"
            src="../../../assets/icons/light-grey/w2j__twitter.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-TW' | translate }}"
            title="{{ 'CONTACT.IMG.NET-TW' | translate }}"
          />
        </button>
      </a>
    </div>
  </footer>
</section>
