<div id="w2j__home">
  <img
    tabindex="0"
    class="w2j__home-background col-lg-12 pl-0 pr-0"
    src="../assets/images/w2j__home-background.png"
    alt="{{ 'HOME.BACKGROUND' | translate }}"
  />
  <aside class="w2j__home-box col-lg-9 col-md-7 col-sm-5">
    <title class="w2j__home-title" tabindex="0">
      {{ "HOME.TITLE" | translate }}
    </title>
    <article class="w2j__home-content" tabindex="0">
      {{ "HOME.CONTENT" | translate }}
    </article>
    <a
      class="w2j__btn-know-more"
      href="#w2j__know-us"
      tabindex="0"
      data-toggle="tooltip"
      data-placement="left"
      title="{{ 'HOME.TOOLTIP' | translate }}"
      >{{ "HOME.BUTTON" | translate }}</a
    >
  </aside>
</div>
