.root {
  width: 100%;
  height: 100vh;
}

body {
  background-color: rgb(110, 41, 41);
  overflow-x: hidden;
  margin: 0!important;
  padding: 0!important;
  ul {
    display: block;
    li {
      list-style-type: none!important;
      margin-left: -40px;
    }
  }
}
