.w2j__header-container.opened {
  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 32vw;
    border-bottom: unset;
    max-height: unset;
    position: fixed;
    box-shadow: 0 3px 20px rgb(0 0 0 / 40%);
    right: -24.1vw;
    transition: all 0.4s;
    transform: translate3d(-24vw, 0, 0);
    animation: 2s ease-in;
    z-index: 3;

    .w2j__header-lateral {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 6px;
    }

    .w2j__logo {
      display: none;
    }

    .w2j__header-navigation {
      flex-direction: column;
    }

    .w2j__languages {
      flex-direction: column;

      .w2j__language-icon {
        height: 5vw;
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .w2j__header-navigation {
    margin-top: -40px;
  }

  .w2j__header-path {
    font-size: 1.7vw !important;
  }
}

.w2j__header-container.closed {
  @media (max-width: 770px) {
    display: flex;
    width: 24vw;
    flex-direction: column;
    bottom: 0;
    max-height: unset;
    position: fixed;
    box-shadow: 0 3px 20px rgb(0 0 0 / 40%);
    right: -24vw;
    transform: translate3d(24vw, 0, 1);
    transition: all 0.4s;
    animation: 2s ease-in;
    filter: opacity(0.4);

    .w2j__languages,
    .w2j__logo,
    .w2j__header-navigation,
    .w2j__social-networks,
    .w2j__address {
      filter: opacity(0);
    }
  }
}

@media (max-width: 770px) {
  .w2j__header-toggle.opened {
    transition: height 1s;
    z-index: 10;
    border-bottom: 1px solid var(--defaultColor);
  }

  .w2j__header-toggle.closed {
    height: 50px;
    border-bottom: 1px solid var(--defaultColor);
  }
}

.w2j__header-toggle {
  @media (min-width: 770px) {
    display: none;
  }

  @media (max-width: 770px) {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding: 32px 16px;
    align-items: center;
    border-bottom: 1px solid var(--defaultColor);

    .w2j__logo-menu-closed {
      width: 2vw;
      margin: 0 auto;
    }
  }

  .w2j__btn-to-expand {
    border: 2px solid var(--lightDefault);
    border-radius: 8px;
    padding: 4px;
    background: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    z-index: 4;
    margin-right: 16px;

    .w2j__toggle-menu {
      width: 1.5rem;
    }
  }

  .w2j__btn-to-expand:hover {
    transform: scale(1.1) !important;
  }
}

.w2j__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--white);
  max-height: 100px;
  width: 100vw;
  z-index: 4;
  padding: 1rem;
  border-bottom: 1px solid var(--defaultColor);
  top: 0px;

  @media (max-width: 770px) {
    justify-content: space-around;
  }

  .w2j__logo {
    max-height: 88px;
  }

  .w2j__header-navigation {
    display: flex;
    align-items: center;

    .w2j__header-path {
      margin: 1vw;
      cursor: pointer;
      text-decoration: none;
      color: var(--greyText);
      font-family: "Raleway", sans-serif;
      font-size: 2vw;
      font-weight: 400;
      letter-spacing: normal;
      opacity: 1;
      text-align: center;
      transition: all 0.4s ease-in-out;
    }

    .w2j__header-path:hover {
      transform: scale(1.1);
    }

    .w2j__contact {
      border: 1px solid var(--greyText);
      padding: 8px;
    }
  }

  .w2j__btn-languages {
    border: none;
    background: none;
  }

  .w2j__languages {
    display: flex;

    .w2j__language-icon {
      background-color: var(--defaultColor);
      border-radius: 100%;
      z-index: 4;
      height: 3.5vw;
      padding: 4px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }

    .w2j__language-icon:hover {
      transform: scale(1.2);
    }
  }
}

.w2j__address {
  text-align: center;
  font-size: 8px;
  margin-bottom: -32px;
  margin-top: 4px;
}

.w2j__social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -54px;

  .w2j__btn-networks {
    border: none;
    background: none;
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .w2j__btn-networks:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 770px) {
  .w2j__header-toggle {
    justify-content: flex-end;
  }

  .w2j__logo {
    max-height: 54px !important;
  }
  .w2j__header-container {
    display: none;
  }

  .w2j__header-path {
    font-size: 2.5vw !important;
    margin: 1vw;
  }

  h6 {
    font-size: 0.6rem !important;
  }

  img {
    margin: 0 auto;
  }

  .w2j__network-icon {
    width: 5vw;
    margin-top: -4px;
  }
}

@media (min-width: 770px) {
  .w2j__address {
    display: none;
  }

  .w2j__social-networks {
    display: none;

    .w2j__btn-networks {
      display: none;
    }
  }

  .w2j__header-container.opened {
    display: flex !important;
    justify-content: center;
  }
  .w2j__header-lateral {
    display: flex;
    flex-direction: unset !important;
  }
}

@media (max-width: 425px) {
  .w2j__header-container {
    padding: 0rem 0.5rem 3.25rem 0.5rem;
  }
  .w2j__language-icon {
    height: 8vw !important;
  }

  .w2j__network-icon {
    width: 8vw !important;
  }

  .w2j__header-path {
    font-size: 3.5vw !important;
  }

  .w2j__btn-to-expand {
    padding: 2px !important;
    margin-right: unset !important;

    .w2j__toggle-menu {
      width: 1.2rem !important;
      margin-top: -3px !important;
    }
  }
}

@media (width: 375px) {
  .m-5 {
    margin: 1.2rem 3rem !important;
  }

  .w2j__header-navigation {
    margin-top: -12px;
  }

  .w2j__contact {
    padding: 2px !important;
  }

  .w2j__address {
    margin-top: 0px;
  }
}
