<div class="w2j__header-toggle" [class.opened]="isOpened">
  <img
    src="../assets/images/w2j__logo.png"
    class="w2j__logo-menu-closed"
    tabindex="0"
    class="w2j__logo"
    alt="{{ 'HEADER.LOGO-LABEL' | translate }}"
    data-toggle="tooltip"
    data-placement="left"
    title="Logo W2J"
  />
  <button
    type="button"
    class="w2j__btn-to-expand"
    data-placement="bottom"
    tabindex="0"
    #toggleButton
  >
    <img
      #toggleIcon
      src="../assets/icons/default/w2j__burguer-menu-icon.png"
      tabindex="0"
      class="w2j__toggle-menu"
      tabindex="0"
      data-toggle="tooltip"
      data-placement="left"
      title="{{ 'HEADER.BURGUER-MENU' | translate }}"
      attr.aria-label="{{ 'HEADER.BURGUER-MENU' | translate }}"
    />
  </button>
</div>

<div
  class="w2j__header-container"
  [ngClass]="{ opened: isOpened, closed: !isOpened }"
>
  <div class="w2j__header-lateral">
    <section>
      <img
        src="../assets/images/w2j__logo.png"
        tabindex="0"
        class="w2j__logo m-5"
        alt="{{ 'HEADER.LOGO-LABEL' | translate }}"
        data-toggle="tooltip"
        data-placement="left"
        title="Logo W2J"
      />
    </section>

    <section class="w2j__header-navigation">
      <a
        href="#w2j__home"
        class="w2j__header-path"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.ANCHOR.HOME' | translate }}"
        attr.aria-label="{{ 'HEADER.ANCHOR-HOME' | translate }}"
        >HOME</a
      >
      <a
        href="#w2j__know-us"
        class="w2j__header-path"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.ANCHOR.KNOW-US' | translate }}"
        attr.aria-label="{{ 'HEADER.ANCHOR-KNOW-US' | translate }}"
        >{{ "HEADER.KNOW-US" | translate }}</a
      >
      <a
        href="#w2j__services"
        class="w2j__header-path"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.ANCHOR.SERVICES' | translate }}"
        attr.aria-label="{{ 'HEADER.ANCHOR-SERVICES' | translate }}"
        >{{ "HEADER.SERVICES" | translate }}</a
      >
      <a
        href="#w2j__contact"
        class="w2j__header-path w2j__contact"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.ANCHOR.CONTACT' | translate }}"
        attr.aria-label="{{ 'HEADER.ANCHOR-CONTACT' | translate }}"
        >{{ "HEADER.CONTACT" | translate }}</a
      >
    </section>
    <section class="w2j__languages m-5">
      <button
        class="w2j__btn-languages"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.LANGUAGES.PORTUGUESE' | translate }}"
        attr.aria-label="{{ 'HEADER.LANGUAGE-PORTUGUESE' | translate }}"
        (click)="changeLanguage('pt-BR')"
      >
        <img
          class="w2j__language-icon w2j__portuguese"
          src="../assets/icons/default/w2j__brazil-flag.svg"
        />
      </button>
      <button
        class="w2j__btn-languages"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.LANGUAGES.SPANISH' | translate }}"
        attr.aria-label="{{ 'HEADER.LANGUAGE-SPANISH' | translate }}"
        (click)="changeLanguage('es-ES')"
      >
        <img
          class="w2j__language-icon w2j__spanish"
          src="../assets/icons/default/w2j__spanish-flag.svg"
        />
      </button>
      <button
        class="w2j__btn-languages"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        title="{{ 'HEADER.LANGUAGES.ENGLISH' | translate }}"
        attr.aria-label="{{ 'HEADER.LANGUAGE-ENGLISH' | translate }}"
        (click)="changeLanguage('en-US')"
      >
        <img
          class="w2j__language-icon w2j__english"
          src="../assets/icons/default/w2j__usa-flag.svg"
        />
      </button>
    </section>
  </div>

  <section [ngClass]="{ footerAtMenu: isOpened }">
    <div class="w2j__social-networks">
      <a
        href="https://www.facebook.com/W2J-Comercio-Internacional-101538785854926"
      >
        <button
          class="w2j__btn-networks"
          data-toggle="tooltip"
          data-placement="left"
          title="Ir à página do Facebook da W2J"
        >
          <img
            class="w2j__network-icon w2j__facebook"
            src="../../../assets/icons/light-grey/w2j__facebook.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-FB' | translate }}"
            title="{{ 'CONTACT.IMG.NET-FB' | translate }}"
          />
        </button>
      </a>
      <a
        href="https://www.instagram.com/w2jcomex/
      "
      >
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__instagram"
            src="../../../assets/icons/light-grey/w2j__instagram.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-IN' | translate }}"
            title="{{ 'CONTACT.IMG.NET-IN' | translate }}"
          />
        </button>
      </a>
      <a
        href="https://twitter.com/w2jcomex?t=4JQynWCcXzWG_jwslnNKxQ&s=09
      "
      >
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__twitter"
            src="../../../assets/icons/light-grey/w2j__twitter.png"
            tabindex="0"
            data-toggle="tooltip"
            data-placement="left"
            alt="{{ 'CONTACT.IMG.NET-TW' | translate }}"
            title="{{ 'CONTACT.IMG.NET-TW' | translate }}"
          />
        </button>
      </a>
    </div>
    <div class="w2j__address">
      <h6 class="mb-1 w2j__text-address">
        <b>
          {{ "CONTACT.FOOTER.ADDRESS-1" | translate }}<br />
          {{ "CONTACT.FOOTER.ADDRESS-2" | translate }}</b
        >
      </h6>
      <h6 class="mt-1">
        Designed by
        <a
          href="https://www.linkedin.com/in/alessandro-gois/"
          data-toggle="tooltip"
          data-placement="left"
          title="{{ 'CONTACT.FOOTER.ALESSANDRO' | translate }}"
          >Alessandro Góis</a
        >. Developed by
        <a
          href="https://www.linkedin.com/in/ggustavo-henrique/"
          data-toggle="tooltip"
          data-placement="left"
          title="{{ 'CONTACT.FOOTER.GUSTAVO' | translate }}"
          >Gustavo Henrique</a
        >.<br />{{ "CONTACT.FOOTER.ALL-RIGHTS" | translate }}
      </h6>
    </div>
  </section>
</div>

<w2j-home></w2j-home>
<w2j-know-us></w2j-know-us>
<w2j-services></w2j-services>
<w2j-contact></w2j-contact>
<w2j-footer></w2j-footer>
