// .w2j__header-container.opened {
//   display: flex;
//   justify-content: center;
//   @media (min-width: 820px) {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//   }

//   // .acessibility-header-buttons {
//   //   justify-content: center;
//   //   margin-top: 0.5rem;
//   //   @media only screen and (max-width: 670px) {
//   //     margin-top: 0rem;
//   //     button {
//   //       padding: 0;
//   //       width: 56px;
//   //     }
//   //   }
//   //   @media only screen and (max-width: 500px) {
//   //     margin-top: -8px;
//   //   }
//   // }

//   // .acessibility-icons {
//   //   display: flex;
//   //   @media only screen and (max-width: 670px) {
//   //     display: block!important;
//   //   }
//   //   @media only screen and (max-width: 500px) {
//   //     margin-top: -3px;
//   //     transform: scale(0.8) !important;
//   //     transition: all 0.2s ease-in-out;
//   //     display: block!important;
//   //   }
//   // }
// }

// @media (max-width: 820px) {
//   .w2j__header-toggle.opened {

//     // .w2j__lateral-menu.opened {
//     //   width: 20vw;
//     //   background-color: #ffffff;
//     //   border-left: #284b63;
//     //   transition: width 1s;
//     // }
//     height: 132px;
//     transition: height 1s;
//     z-index: 4;
//     border-bottom: 1px solid #284b63;
//     @media (max-width: 670px) {
//       height: 160px !important;
//       transition: all 0.2s ease-in-out;
//     }
//     @media (max-width: 500px) {
//       transition: all 0.2s ease-in-out;
//     }
//     .w2j__btn-to-expand {
//       margin-top: 56px;
//       @media (max-width: 670px) {
//         margin-top: 64px;
//       }
//     }
//   }

//   .w2j__header-toggle.closed {
//     height: 50px;
//     width: 120px;
//   }
// }

// .w2j__header-toggle {
//   border-bottom: 1px solid #284b63;

//   @media (max-width: 820px) {
//     position: fixed;
//     z-index: 3;
//     width: 100vw;
//     height: 50px;
//     background-color: #ffffff;
//     display: flex;
//     justify-content: center;
//     padding: 32px;
//     align-items: center;

//     .w2j__logo-menu-closed {
//       width: 100px;
//       margin: 0 auto;
//     }
//   }

//   @media (min-width: 820px) {
//     display: none;
//   }

//   .w2j__btn-to-expand {
//     border: none;
//     background: none;
//     cursor: pointer;
//     transition: ease-in-out 0.6s;
//     left: 92vw;
//     padding-left: 2px;
//     z-index: 4;

//     .w2j__toggle-menu {
//       width: 2rem;
//     }
//   }

//   .w2j__btn-to-expand:hover {
//     transform: scale(1.2) !important;
//     transition: all 0.2s ease-in-out;
//   }
// }

// .w2j__lateral-menu.closed {
//   width: 10vw;
//   background-color: #ffffff;
// }

.w2j__header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #ffffff;
  max-height: 104px;
  width: 100vw;
  z-index: 3;
  padding: 2rem;
  border-bottom: 1px solid #284b63;
  top: 0px;

  .w2j__logo {
    max-height: 88px;
  }

  .w2j__header-navigation {
    display: flex;
    align-items: center;

    .w2j__header-path {
      margin: 2vw;
      cursor: pointer;
      text-decoration: none;
      color: #353535;
      font-family: "Raleway", sans-serif;
      font-size: 2vw;
      font-weight: 400;
      letter-spacing: normal;
      opacity: 1;
      text-align: center;
    }

    .w2j__header-path:hover {
      transform: scale(1.1);
      transition: all 0.4s ease-in-out;
    }

    .w2j__contact {
      border: 1px solid #353535;
      padding: 8px;
    }
  }

  .w2j__btn-languages {
    border: none;
    background: none;
  }

  .w2j__languages {
    display: flex;

    .w2j__language-icon {
      background-color: #284b63;
      border-radius: 100%;
      z-index: 4;
      height: 3.5vw;
      padding: 4px;
      cursor: pointer;
    }

    .w2j__language-icon:hover {
      transform: scale(1.2);
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  // .w2j__header-container {
  //   max-height: 80px !important;
  // }

  // .w2j__logo {
  //   max-height: 64px !important;
  // }
  .w2j__header-container {
    display: none;
  }

  .w2j__header-path {
    font-size: 1vw !important;
    margin: 0.3vw;
  }
}
