<div id="w2j__home">
  <img
    class="w2j__home-background col-lg-12 pl-0 pr-0"
    src="../assets/images/first-background.png"
  />
  <aside class="w2j__home-box col-lg-9 col-md-7 col-sm-5">
    <title class="w2j__home-title" tabindex="0">
      SOMOS A W2J COMÉRCIO INTERNACIONAL
    </title>
    <article class="w2j__home-content" tabindex="0">
      Uma empresa criada para prestar assessoria em comércio internacional.
      Aqui nós apresentamos as melhores soluções em redução de custos para
      suas importações, tanto na parte logística quanto na tributária, tudo de
      forma legal e transparente. Somos uma equipe altamente qualificada e
      comprometida em tornar viável e próspero seu negócio.
    </article>
    <a class="w2j__btn-know-more" href="#w2j__second">SAIBA MAIS</a>
  </aside>
</div>
