<div>
  <section class="w2j__contact__session">
    <div class="w2j__arrow-background">
      <!-- <img
        class="w2__arrow-back"
        src="../../../assets/icons/light-grey/loading-arrows.png"
      /> -->
      <div class="w2j__top-section">
        <img
          class="w2j__arrow-side w2j__img-mission"
          src="../../../assets/icons/dark-grey/arrow.png"
        />
        <div class="w2j__contact-container w2j__mission col-md-5 pr-0">
          <aside class="w2j__mission-section">
            <span class="w2j__mission-text">Missão</span><br />
            Ser parte integrante do cliente importador ou exportador,
            assessorando, gerenciando suas operações e viabilizando seus
            negócios para que sejam prósperos.
          </aside>
        </div>

        <div class="w2j__vision col-md-7 pl-0">
          <aside class="w2j__vision-section">
            <span class="w2j__vision-text">Visão</span><br />
            Obter a confiança e credibilidade de nossos clientes, investidores e
            parceiros como a melhor opção de operações de importação e
            exportação no Brasil. Em dois anos teremos nossa primeira filial no
            exterior. Proporcionar o crescimento ético, profissional,
            intelectual e financeiro aos nossos colaboradores e parceiros.
          </aside>
        </div>
      </div>

      <div class="w2j__contact-container w2j__value">
        <aside class="w2j__value-section">
          <span class="w2j__value-text">Valores</span> <br />
          Temos comprometimento com a transparência, qualidade na tomada de
          decisão objetivando sempre o melhor resultados para os nossos
          clientes. Acreditamos que transparência, simplicidade e bom senso
          direcionam melhor que sofisticação e complexidade. Trabalhamos sempre
          para garantir a melhor solução operacional para os nossos clientes.
        </aside>
        <img
          class="w2j__arrow-side w2j__img-value"
          src="../../../assets/icons/dark-grey/arrow.png"
        />
      </div>
    </div>
  </section>

  <section class="w2j__img-parallax"></section>

  <section class="w2j__form">
    <div class="w2j__background-form">
      <div class="w2j__form-header">
        <h4 class="w2j__header-text w2j__header-form-left">
          O que determina o preço é a consulta!
        </h4>
        <h4 class="w2j__header-text w2j__header-form-right">
          Então, venha fazer uma consulta conosco!
        </h4>
      </div>
      <form class="w2j__inputs">
        <label for="name">Nome</label>
        <input
          class="w2j__input-form"
          type="text"
          id="name"
          placeholder="Digite seu nome aqui"
        />
        <label id="phone" for="phone">Telefone</label>
        <input
          class="w2j__input-form"
          type="text"
          mask="(00) 0 0000-0000"
          placeholder="Digite seu telefone aqui"
        />
        <label for="email">Email</label>
        <input
          class="w2j__input-form"
          type="email"
          id="email"
          placeholder="exemplo@w2j.com"
        />
        <label for="message">Mensagem</label>
        <textarea
          class="w2j__input-form w2j__input-message"
          type="text"
          id="message"
          placeholder="Digite sua mensagem aqui"
        ></textarea>
      </form>
      <div class="w2j__send-form">
        <button class="w2j__btn-send">ENVIAR</button>
      </div>
    </div>
  </section>

  <section id="w2j__contact">
    <footer class="w2j__footer-container">
      <img
        class="w2j__pb-logo"
        src="../../../assets/images/W2J Logo Branco 1.png"
      />
      <div class="w2j__address">
        <h6 class="mb-1 w2j__text-address">
          <b>
            Rua Lourenço Da Silva Cordeiro, 3478 - Centro<br />
            Rio de Janerio - RJ / 23405-234.</b
          >
        </h6>
        <h6 class="mt-2 w2j__text-address">
          <b>
            Curabitur et sem est. Proin ac finibus quam. Integer sed tristique
            risus, sed tristique tellus.</b
          >
        </h6>
        <h6 class="mt-3">
          W2J COMERCIO INTERNACIONAL 2021 ®. Todos os direitos reservados.
        </h6>
      </div>
      <div class="w2j__social-networks" href="#">
        <button class="w2j__btn-networks">
          <img
            class="w2j__network-icon w2j__facebook"
            src="../../../assets/icons/light-grey/facebook.png"
          />
        </button>
        <button class="w2j__btn-networks" href="#">
          <img
            class="w2j__network-icon w2j__instagram"
            src="../../../assets/icons/light-grey/instagram.png"
          />
        </button>
        <button class="w2j__btn-networks" href="#">
          <img
            class="w2j__network-icon w2j__twitter"
            src="../../../assets/icons/light-grey/twitter.png"
          />
        </button>
      </div>
    </footer>
  </section>
</div>
