<section id="w2j__services">
  <div class="w2j__block-services">
    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon top w2j__placeholder"
        src="../../../assets/icons/light-grey/w2j__placeholder.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.ONE-LABEL' | translate }}"
        title="{{ 'SERVICES.ONE-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.ONE" | translate }}
      </article>
    </div>

    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon top w2j__business-plan"
        src="../../../assets/icons/light-grey/w2j__business-plan.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.TWO-LABEL' | translate }}"
        title="{{ 'SERVICES.TWO-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.TWO" | translate }}
      </article>
    </div>

    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon top-deal w2j__deal"
        src="../../../assets/icons/light-grey/w2j__deal.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.THREE-LABEL' | translate }}"
        title="{{ 'SERVICES.THREE-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.THREE" | translate }}
      </article>
    </div>

    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon w2j__around-world"
        src="../../../assets/icons/light-grey/w2j__around-world.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.FOUR-LABEL' | translate }}"
        title="{{ 'SERVICES.FOUR-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.FOUR" | translate }}
      </article>
    </div>

    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon w2j__money-graph"
        src="../../../assets/icons/light-grey/w2j__money-graph.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.FIVE-LABEL' | translate }}"
        title="{{ 'SERVICES.FIVE-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.FIVE" | translate }}
      </article>
    </div>

    <div class="w2j__icon-section pl-0 col-md-4 col-sm-6">
      <img
        class="w2j__services-icon w2j__document"
        src="../../../assets/icons/light-grey/w2j__document.png"
        tabindex="0"
        data-toggle="tooltip"
        data-placement="left"
        alt="{{ 'SERVICES.SIX-LABEL' | translate }}"
        title="{{ 'SERVICES.SIX-LABEL' | translate }}"
      />
      <article class="w2j__services-text" tabindex="0">
        {{ "SERVICES.SIX" | translate }}
      </article>
    </div>
  </div>
</section>
