<<<<<<< HEAD
:root {
  --backgroundFooter: var(--greyText);
  --error: #ce1126;
  --defaultColor: #284b63;
  --lightDefault: #386786;
  --lightDefault2: #3c7092;
  --greyText: #353535;
  --greyPlaceholder: #eeeeee;
  --white: #ffffff;
  --black: #000000;
}
=======
:root {
  --backgroundFooter: var(--greyText);
  --error: #ce1126;
  --defaultColor: #284b63;
  --lightDefault: #386786;
  --lightDefault2: #3c7092;
  --greyText: #353535;
  --greyPlaceholder: #eeeeee;
  --white: #ffffff;
  --black: #000000;
}
>>>>>>> 8099684373b3a43d34fcb6c4d9b729d2d523e526
