:root {
  --backgroundFooter: var(--greyText);
  --error: #ce1126;
  --defaultColor: #284b63;
  --lightDefault: #386786;
  --lightDefault2: #3c7092;
  --greyText: #353535;
  --greyPlaceholder: #eeeeee;
  --white: #ffffff;
  --black: #000000;
}
