<section id="w2j__services">
  <div class="w2j__first-services">
    <div>
      <img
        class="w2j__services-icon w2j__placeholder"
        src="../../../assets/icons/light-grey/placeholder.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div>
      <img
        class="w2j__services-icon w2j__business-plan"
        src="../../../assets/icons/light-grey/plano-de-negocios.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div>
      <img
        class="w2j__services-icon w2j__deal"
        src="../../../assets/icons/light-grey/acordo.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
  </div>
  <div class="w2j__second-services">
    <div>
      <img
        class="w2j__services-icon w2j__placeholder"
        src="../../../assets/icons/light-grey/around.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div>
      <img
        class="w2j__services-icon w2j__business-plan"
        src="../../../assets/icons/light-grey/money-graph-with-up-arrow.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div>
      <img
        class="w2j__services-icon w2j__deal"
        src="../../../assets/icons/light-grey/document.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
  </div>
</section>

<section id="w2j__services-responsivity">
  <div class="w2j__first-services-r">
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__placeholder"
        src="../../../assets/icons/light-grey/placeholder.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__business-plan"
        src="../../../assets/icons/light-grey/plano-de-negocios.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
  </div>
  <div class="w2j__second-services-r">
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__deal"
        src="../../../assets/icons/light-grey/acordo.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__placeholder"
        src="../../../assets/icons/light-grey/around.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
  </div>

  <div class="w2j__third-services-r pb-4">
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__business-plan"
        src="../../../assets/icons/light-grey/money-graph-with-up-arrow.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
    <div class="w2j__services-r">
      <img
        class="w2j__services-icon-r w2j__deal"
        src="../../../assets/icons/light-grey/document.png"
      />
      <article class="w2j__services-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </article>
    </div>
  </div>
</section>
